VITE_FRONTEND_ONLY=false
VITE_BASE_API_URL=https://frutilogic-platform-api-production.up.railway.app/api/v1/
VITE_API_URL=https://frutilogic-platform-api-production.up.railway.app/api/v1
VITE_API_BASE_URL=https://frutilogic-platform-api-production.up.railway.app/api/v1
VITE_USER_ENDPOINT_PATH=/users
VITE_PROFILE_ENDPOINT_PATH=/profiles
VITE_WAREHOUSE_ENDPOINT_PATH=warehouses
VITE_ACCOUNT_ENDPOINT_PATH=accounts
VITE_PRODUCTS_ENDPOINT_PATH=products
VITE_ACCOUNT_WAREHOUSES_ENDPOINT_PATH=accounts/{accountId}/warehouses
VITE_ACCOUNT_PRODUCTS_ENDPOINT_PATH=accounts/{accountId}/products
VITE_WAREHOUSE_PRODUCTS_ENDPOINT_PATH=warehouses/{warehouseId}/inventories
VITE_WAREHOUSES_COUNT_ENDPOINT_PATH=accounts/{accountId}/warehouses/counts
VITE_PRODUCTS_COUNT_ENDPOINT_PATH=accounts/{accountId}/products/counts
VITE_ACCOUNT_CURRENT_BENEFITS_LIMITS=accounts/{accountId}/subscriptions/current-benefits-limits
VITE_WAREHOUSE_PRODUCT_ADDITION_ENDPOINT_PATH=products/{productId}
VITE_INVENTORY_PRODUCTS_ADDITION_ENDPOINT=products/{productId}/additions
VITE_INVENTORY_PRODUCTS_SUBSTRACTION_ENDPOINT=products/{productId}/substractions
VITE_ACCOUNT_STATUS_ENDPOINT_PATH=accounts/{accountId}/status
VITE_AUTH_SIGNIN_ENDPOINT=sign-in
VITE_AUTH_SIGNUP_ENDPOINT=sign-up
VITE_PLAN_ENDPOINT_PATH=plans
VITE_ACCOUNT_CURRENT_PLAN_ENDPOINT_PATH=accounts/{accountId}/subscriptions/current-plan
VITE_SUBSCRIPTION_NEW_ENDPOINT_PATH=subscriptions/new
VITE_SUBSCRIPTION_UPDGRADE_PATH=subscriptions/upgrade
VITE_SUBSCRIPTION_COMPLETE_PATH=subscriptions/complete
VITE_SUBSCRIPTION_UPGRADE_COMPLETE_PATH=subscriptions/upgrade-complete
VITE_SEND_RECOVERY_CODE_ENDPOINT=users/recovery-code
VITE_VERIFY_RECOVERY_CODE_ENDPOINT=users/verify-recovery-code
VITE_RESET_PASSWORD_ENDPOINT=users/reset-password
VITE_PREDICTIONS_ENABLE=true
